:root {
  --header-color: #023E25;
  --primary-text-color: #A6EA01;
  --secondary-text-color: #E4E4E4;
  --sidebar-bg: #39735B;
  --footer-bg: #023E25;
  --footer-text: #E4E4E4;
  --footer-accent: #A6EA01;
}
.container-about {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
    
  }

  .sidebar-about {
    width: 250px;
    background-color: var(--sidebar-bg);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .sidebar-about h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .sidebar-about ul {
    list-style: none;
  }
  
  .sidebar-about ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .sidebar-about ul li:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .main-content {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .main-content h1 {
    color: var(--header-color);
  }
  
@media (max-width: 390px) {
    
    .sidebar-about {
      width: 100%;
      margin-bottom: 20px;
      padding: 15px;
    }
  
    .sidebar-about ul li {
      font-size: 14px;
    }
  
    .main-content {
      padding: 20px;
    }
  
    .main-content h1 {
      font-size: 1.5rem;
    }
  
   
  }
  