@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --sidebar-bkg-color :  #023E25;
    --active-color :  #3d4f14;
    --header-color: #023E25;
    --primary-text-color: #A6EA01;
    --secoundary-text-color: #E4E4E4;
    --sidebar: #39735B;
    --button-color: #192822;
}

*{
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    font-family:'Spartan';
}

.header-b{
    align-items: center;
    background-color: #023E25;
    display: flex;
    justify-content:space-between;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(43, 43, 43, 0.1);
    z-index: 1000;
  /*  position: sticky;
    top: 0%;*/
 }
 
.page-title {
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
    color: #c9bb9f;
}
 
.logo-b img {
    height:90px;
    width: 100px;
}
 
.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
 
.navbar ul li a {
    color: #c9bb9f;
    text-decoration: none;
}

.navbar a.active {
    color: white;
    border-bottom: 1px solid #c9bb9f ;
}

/*header responsive*/
.menu-btn-navbar {
    display: flex;
    flex-direction: column;
    float: right;
    padding-bottom: 5px;
    display: none;
}

.btnn-line {
    width: 17px;
    margin: 2px;
    border: solid white 1px;
}

/*Sidebar*/

/*Side bar home page*/
.asid-home-page {    
    font-family: "League Spartan", sans-serif;
    background-color: var(--sidebar-bkg-color);
    color: var(--primary-text-color);
    width: 300px;
    padding: 70px 5px;
    margin: 50px 0px 50px 100px;
    
}

.links {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid green;
    align-items: center;
    cursor: pointer;
}

.asid-home-links h2{
    text-align: center;    
}

.links:hover {
    background-color: #E4E4E4;
    color: black;
    border-top-left-radius: 50px;
}

.links:hover {
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
}

/*Toggel button*/

.menu-btn {
    display: flex;
    flex-direction: column;
    float: right;
    padding-bottom: 40px;
    display: none;
    
}

.btn-line { 
    margin: 2px;
    width: 17px;
    border: solid white 1px;
}


footer {
    background-color: var(--header-color); 
    color: var(--secoundary-text-color); 
    padding: 40px 20px;
    font-size: 13px;
    
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;

}

.footer-section {
    flex: 1 1 calc(25% - 20px); 
    min-width: 200px;
}
  
.footer-section h3 {
    color: var(--primary-text-color); 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 2px solid var(--primary-text-color); 
    padding-bottom: 5px;
}
  
.footer-section a {
    text-decoration: none;
    color: var(--secoundary-text-color); 
    transition: color 0.3s ease;
}
  
.footer-section a:hover {
    color: var(--primary-text-color); 
}
  
.quick-links ul {
    list-style: none;
    padding: 0;
}
  
.quick-links li {
    margin-bottom: 8px;
    font-size: 14px;
}
  
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--button-color);
    color: var(--secoundary-text-color);
}
  
.footer-bottom p {
    font-size: 13px;
}
  
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--color6) 10%, transparent 60%),
                radial-gradient(circle, var(--color2) 20%, transparent 70%);
    opacity: 0.2; 
    z-index: -1;
}

@media (max-width: 430px) {
    /*Header responsive*/
    .header-b {
        display: flex;
        flex-direction: row;            
    }

    .team-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  
    .navbar{
        background-color: var(--header-color);
        position: fixed;
        top: 100px;
        right: 0px;
        width: 100%;
        margin: 0;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;       
    }
    .toggle-header{
        display: block;  
        transition: all .5s;  
    }

    .toggle-header ul {
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }

    .navbar ul li {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 5px;
         
    }
    .navbar ul li a {
        width: 100px;
     
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .menu-btn-navbar {
        display: block;
        cursor: pointer;
    }

 /*Side bar responsive*/
    
    .asid-home-page {
        height: 100vh;
        margin: 50px 0;
        padding: 0px;
        width: 100px;
    }
    .asid-home-links {
        display: none;        
    }

    .menu-btn {
        margin: 10px;
        display: block;
    }

    .open{
        height: 100vh;
        display: block;
        width: 300px;
        padding: 0;
        background-color: var(--header-color);
    }
  
    footer {
        width: auto;
    }

}

   
/* Responsive Adjustments */
@media (max-width: 768px) {
    .header-b {
        display: flex;
        flex-direction: row;            
    }

    .team-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navbar{
        background-color: var(--header-color);
        position: fixed;
        top: 100px;
        right: 0px;
        width: 100%;
        margin: 0;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;       
    }
    .toggle-header{
        display: block;  
        transition: all .5s;  
    }

    .toggle-header ul {
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }

    .navbar ul li {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 5px;
         
    }
    .navbar ul li a {
        width: 100px;
     
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .menu-btn-navbar {
        display: block;
        cursor: pointer;
    }

    .asid-home-page {
        height: 100vh;
        margin: 50px 0;
        padding: 0px;
        width: 100px;
    }
    .asid-home-links {
        display: none;        
    }
    .open{
        height: 100vh;
        display: block;
        width: 300px;
        padding: 0;
        background-color: var(--header-color);
    }
    
    .menu-btn {
        margin: 10px;
        display: block;
    }

.footer-container {
    flex-direction: column; 
    
 }
.header-b{
    display: flex;
    background-color: #023E25;
    align-items: center;
    font-size: 10px;
    }
 
}

@media (max-width: 1024px) {
    .header-b {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .asid-home-page {
        margin: 50px 0;
    }
    .navbar-ul {
        
        margin: 0;
        padding: 0;
    }

    .navbar-ul li{
         
        padding: 0;
        margin: 5px;
    }
}
