.home-content {
    margin: 0;
    padding: 0;
}

.content {
    display: flex; 
}

.sidebar {
    background-color: var(--sidebar-bkg-color);
    padding: 5px; 
    width: 300px;
    display: flex;
    flex-direction: column;
}

.animals {
    text-align: center;
    color: rgb(32, 227, 15);
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 25px; 
}

.sidebar  div { 
    margin: 10px;
}

.sidebar  div a {
   color: rgb(11, 39, 3);
   text-align: center;
   text-decoration: none;
   padding: 10px;
   border: 2px solid #87ea71;
   margin-bottom: 15px;
   border-radius: 8px;
   display: block;
   background-color: #66a474;
   transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sidebar div a:hover {
    background-color: #39e812;
    border-color: #b0b0b0;
} 

#animal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-color);
    color: #c9bb9f;
    border-radius: 5px;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 80px;
    font-size: 1.2rem;
    width: 75%;
    color: var(--heading-p-colour);
    background-color: rgb(109, 186, 126); 
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
}

#animal-info img {
    height: 500px;
    width: 700px;
}

.sidbarbtn {
    background-color: var(--sidebar-bkg-color);
    margin-left: 300px;
    padding: 4px;
    display: none;
}

.btnn-line {
    padding: 0.3px;
}

@media (max-width: 375px) {
    #animal-info img {
        height: 200px;
        width: 300px;
    }

    #animal-info{
        padding: 8px;
    }

    .main-content {
        margin: 0;
        font-size: 1.2rem;
    }
}

@media (max-width: 344px) {

    #animal-info img {
        height: 200px;
        width: 300px;
    }

    #animal-info {
        margin: 0;
        padding: 0;
    }

    .main-content {
 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 414px) {

    #animal-info img {
        height: 200px;
        width: 300px;
    }
        
    .main-content {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 430px) {
    #animal-info img {
        height: 200px;
        width: 300px;
    }

    .main-content {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 540px) {
        
    .sidbarbtn  {
        display: block;
    }

    .main-content {
    
        width: 100%;
    }

    .sidebar {
         
        position: fixed;
        margin: 0;
        padding: 20px 5px;
        left: -300px;       
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
        height: 100vh;
    }
 
    .reptiles-animale {
        margin: 0;
    }

    .menu-btnn {
        display: block;
        margin-top: 10px;        
        margin-left: 500px;                
    }

    .open-sidebar {
        left: 0;
    }

}

@media (max-width: 768px) {

    #animal-info img {
        height: 200px;
        width: 300px;
    }

    .main-content {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;   
    }

    .sidebar {
        margin: 0;
        padding: 10px;
    }
}

@media (max-width: 820px) {

    #animal-info img {
        height: 200px;
        width: 300px;
    }

    .main-content {
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
 
@media (min-width: 912px) {
    #animal-info img {
        height: 300px;
        width: 450px;
    }
}

@media (min-width: 1024px) {
    #animal-info img {
        height: 300px;
        width: 400px;
    }
}  

