:root {
    --sidebar-bkg-color :  #023E25;
    --active-color :  #3d4f14;
    --header-color: #023E25;
    --primary-text-color: #A6EA01;
    --secoundary-text-color: #E4E4E4;
    --sidebar: #39735B;
    --button-color: #192822;
}

body {
    background-color: rgb(173, 197, 174);
}

.main-reptiles { 
    display: flex;
    margin: 100px  0px 100px 0;    
}

.main-content-reptiles {
    display: flex;
    flex-direction: row;
    background-color: var(--sidebar);
}

.asid-home-page-reptiles {    
    background-image: url(../images/Reptiles/Hawksbill-Turtle-transparent.png);
    background-size: 150px;    
    background-repeat: no-repeat;
    background-position: top;
    font-family: "League Spartan", sans-serif;
    background-color: var(--sidebar-bkg-color);
    color: var(--primary-text-color);
    padding-top: 60px;
}

.asid-home-links {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    width: 300px;
}
 
.asid-home-links h1 {
    text-align: center;
    padding: 0;
    margin: 30px 0 0 0;  
}

.sidbar-links {
    padding: 0;
}

.sidbar-links li{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 40px;
    color: white;
    text-decoration: none;
    border: 1px solid green;
    align-items: center;
    cursor: pointer;
}
 
.sidbar-links  .frillClass {
   border-left: 3px solid var(--primary-text-color);  
}

.sidbar-links  .hawkClass {
    border-left: 3px solid rgb(88, 230, 147);
}

.sidbar-links  .perentieClass {
    border-left: 3px solid rgb(220, 106, 106);  
}

/*Toggle btn to copy to home page*/
.menu-btnn {
    display: none;
    padding: 5px;
    border-radius: 5px;
    height: 25px;  
}

.btn-linee {    
    margin: 2px;
    width: 18px;  
    border: solid #A6EA01 1px;
}

.reptile-fromjs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    margin: 50px 100px 50px 50px;
    background-color: var(--sidebar);  
 }

 .welcom-message {
    padding: 10px;
    margin: 10px;
}

.welcom-message h2 {
    padding-bottom: 20px;
    font-size: 2rem; 
    text-align: center;    
}

.replace-description {
    padding: 10px;
    margin: 30px;
    line-height: 1.5;
}

.animals-detls {
    display: none;
    text-align: center;   
}

.animals-detls h2 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.image-container {
    border-radius:300px ;
    background-color: var(--primary-text-color);
}  

#animale-image-item {
    border: 2px solid white;
    border-radius: 500px;
    height: 480px;
    width: 500px;
    padding: 0;
    margin: 0;
    opacity:1;
    transition: 1s ease;
} 

#animale-image-item:hover {
    opacity:0.5;
    transition: 1s ease;
    border: 2px solid var(--button-color);
}

.display-btn {
    padding: 10px 30px;
    margin: 30px 0px;
    background-color: var(--sidebar-bkg-color);
    border: none;
    color: var(--primary-text-color);
    font-size: 1.3rem;
}

.animal-description {
    font-size: 1.2rem;
    padding: 10px;
    margin: 20px;
}

.animals-characteristic {    
    padding: 20px;
    margin: 40px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    color: var(--primary-text-color);
    align-items: center;
    justify-content: center;  
}

.animals-characteristic li {
    padding: 10px;
    list-style: none;
}

.animals-characteristic p {
    padding: 5px;
    margin: 0px 10px; 
    font-size: 0.9rem;
    color: chartreuse;
}

.activee {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(174, 238, 196) 0%, rgb(2, 110, 74) 100%); 
}

.hidden {
    display: none;
}

.show {
    display: block;
}
 
@media (max-width: 1280px) {
    
    .animals-characteristic {  
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 10px;
    }

}
@media (max-width: 1024px) {

    .main-reptiles {
        margin: 0;
    }

    .main-content-reptiles {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .asid-home-page-reptiles {         
        max-width: 300px;            
    }

    .asid-home-links {  
        margin: 0;
        align-items: center;        
    }
   
    .reptile-fromjs {
        margin:  0;     
        width: 100%;
    }

    .animals-characteristic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px;
    }

    .replace-description {
        padding: 10px;     
        margin: 0;
    } 
}

@media (max-width: 912px) {

    .main-reptiles {
        margin: 0;
    }

    .animals-characteristic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px 50px;
    }
}

@media (max-width: 820px) {
 
    .asid-home-page-reptiles {     
        margin: 50px 0px 50px 0px;   
    }

    .reptiles-animale {     
        margin: 50px 0;
        padding: 0;
    }

    .reptile-fromjs {     
        margin: 0;         
    }

    .animals-characteristic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 10px;
    }
}

@media (max-width: 768px) {

    .main-reptiles {  
        margin: 50px 0;        
    }

    .main-content-reptiles {
        margin: 0;    
    }

    .asid-home-page-reptiles {      
        position: fixed;
        margin: 0;
        padding: 20px 5px;
        left: -300px;       
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }

    .reptiles-animale {
        margin: 0;
    }

    .menu-btnn {
        display: block;
        margin-top: 10px;        
        margin-left: 500px;                
    }

    .open {
        left: 0;
    }
    
    .activee {
        width: auto;
        background-color: #A6EA01;
    }

}

@media (max-width: 540px) {

    .asid-home-page-reptiles {
        background-image: none;
        margin: 0;
    }

    .animals-characteristic {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px 50px;
    }

}

@media (max-width: 430px) {

    .menu-btnn {
        margin-left: 300px;     
    }

    .reptile-fromjs {           
        margin: 0;
        padding: 0;      
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .asid-home-page-reptiles {
        z-index: 1;
    }

    .image-container {
        text-align: center;
        border-radius: 0;
        padding:  10px;
        background-color: var(--primary-text-color);
    }  

    .open {
        left: 0;
    }
    
    #animale-image-item {       
        border-radius: 0;
        height: 200px;
        width: 300px;
        padding: 0;
        margin: 0;   
    } 
 
    .animals-characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10px;
    }
 
}

@media (max-width: 414px) {
    
    .menu-btnn {
        margin-left: 300px;     
    }

    .reptile-fromjs {           
        margin: 0;
        padding: 0;      
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .asid-home-page-reptiles {
        z-index: 1;
    }

    .image-container {
        text-align: center;
        border-radius: 0;
        padding:  10px;
        background-color: var(--primary-text-color);
    }  

    .open {
        left: 0;
    }
    
    #animale-image-item {    
        border-radius: 0;
        height: 200px;
        width: 350px;
        padding: 0;
        margin: 0;   
    } 
 
    .animals-characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10px;
    }
 
}

@media (max-width: 375px) {

    .menu-btnn {
        margin-left: 300px;     
    }

    .reptile-fromjs {           
        margin: 0;
        padding: 0;      
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .asid-home-page-reptiles {
        z-index: 1;
    }

    .image-container {
        text-align: center;
        border-radius: 0;
        padding:  10px;
        background-color: var(--primary-text-color);
    }  

    .open {
        left: 0;
    }
    
    #animale-image-item {       
        border-radius: 0;
        height: 200px;
        width: 300px;
        padding: 0;
        margin: 0;   
    } 
 
    .animals-characteristic {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 10px;
    }
 
}