* {
    margin: 0;
}

:root {
    --sidebar-bkg-color :  #023E25;
    --sidebar-color :  #A6EA01;
    --active-color :  #3d4f14;
}

.sidebar {
    font-family: "League Spartan", sans-serif;
    background-color: var(--sidebar-bkg-color);
    color: var(--sidebar-color);
    width: 300px;
    padding: 70px 5px;
    margin: 0;
    height: 100%;    
}

.sidebar h2 {
    text-align: center;
}

.sidebar-nav {
   padding-left: 10px;
   margin-top: 50px;
   display: flex;
   flex-direction: column;    
   width:150px;
   gap: 10px;
   height: 100%;
}

.sidebar-item {
    padding: 10px;
    width: 260px;
    cursor: pointer;
}

 
/* .sidebar-item  {
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
} */
.sidebar-item a:hover{ 
    color: black;
    font-weight: bold;
}

.sidebar-item a{
    font-size: 0.7rem;
    color: var(--sidebar-color);
    text-decoration: none; 
    padding: 10px;
}

 span {
    background-color: white;
    padding: 2px 7px;
    float: right;
    color: black;
    font-weight: bolder;    
 }

.changeColor {
    background-color: var(--sidebar-color);  
    color: black;
    font-weight: 1.2rem;
}

.active {
    background-color: var(--active-color);
    color: black;
}


/*resp*/

@media (max-width: 375px) {

    .sidebar {
        background-color: rgb(33, 15, 15);
        width: 90px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        padding: .4rem 0.8rem;
        transition: all 0.5s ease;
    }


    .side-content {
       background-color: red;

    }

    .tessst {
        width: 300px;
    }
    
  }
.menu-btn {
    display: flex;
    flex-direction: column;
    float: right;
    padding-bottom: 40px;
}

.btn-line { 
    margin: 2px;
    width: 15px;
    border: solid white 1px;
}