* {
    margin: 0;
}

:root {
    --sidebar-bkg-color :  #023E25;
    --sidebar-color :  #A6EA01;
    --active-color :  #3d4f14;
}

.sidebar {
    font-family: "League Spartan", sans-serif;
    background-color: var(--sidebar-bkg-color);
    color: var(--sidebar-color);
    width: 300px;
    padding: 70px 5px;
    margin: 0;
    height: 100%;    
}

.sidebar h2 {
    text-align: center;
}

.sidebar-nav {  
   margin-top: 50px;
   display: flex;
   flex-direction: column;      
   gap: 10px;
   height: 100%;
   align-items: center;
}

.sidebar-item {
    padding: 10px;
    cursor: pointer;
    width: auto;
    margin: 5px;

}


/*Button*/
.animal-name {
  cursor: pointer;
  color: white;
  width: 170px;
  border: 1px solid green;
  padding: 7px 3px 5px 0px;
  background-color: transparent;
}

.animal-name.active  {
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
} 
 
 

.changeColor {
    color: black;
    font-weight: 1.2rem;
}

.active {
    background-color: rgb(4, 158, 58);
    
}

/*Toggel button*/

.menu-btn {
    display: flex;
    flex-direction: column;
    float: right;
    padding-bottom: 40px;
}

.btn-line { 
    margin: 2px;
    width: 15px;
    border: solid white 1px;
}

.menu-btn {
    display: none;
}

@media (max-width: 430px) {
    .sidebar-nav {
     
        width: 250px;
        padding: 0;
        margin: 0;
        height: auto;      
    }
 
    .sidebar {
        cursor: pointer;
        width: 90px;
        position: absolute;
        top: 10;
        left: 0;
        height: 100vh;
        padding: 0;
        transition: all 0.5s ease;      
    }

    .menu-btn {
        margin: 5px;
        display: block;
    }

    .side-content{
     display: none; 
    }

    .open {
        height: 100%;
        width: 300px;
        display: block;
        background-color: var(--sidebar-bkg-color);
        margin: 0px;    
        transition: all 0.5s ease;  
    }
}